services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=mysql://rbibli:password$@server:3306/rbibli
      - RUST_LOG=info
    volumes:
      - ./config:/config
    command: ["backend", "--config", "/config/configuration.toml"]
    networks:
      - rbibli-net

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    networks:
      - rbibli-net

networks:
  rbibli-net:
