services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=mysql://rbibli:1000cpsvqrE$@panoramix.home.arpa:3306/rbibli
      - RUST_LOG=info
    networks:
      - rbibli-net

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    networks:
      - rbibli-net

networks:
  rbibli-net:
